#circles {
    display: flex;
    justify-content: center;

}

h1 {
    font-size: 2rem;
    font-family: 'Calibri';
    font-weight: 300;
    text-align: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 1rem;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Calibri';
    font-weight: 600;
    border-radius: 30%;
}

.C1 {
    background-color: #0004ff;
}

.C2 {
    background-color: #0d8ed8;
}

.C3 {
    background-color: #0fb3b9;
}

.C4 {
    background-color: #0eb1c7;
}

.C5 {
    background-color: #0fcfcf;
}

.C6 {
    background-color: #00aeff;
}

.C7 {
    background-color: #3abfd1;
}

.C8 {
    background-color: #00f7f7;
}

.C9 {
    background-color: #01b1b1;
}

#container1 {
    display: flex;
    flex-direction: row;
}

#container2 {
    display: flex;
    flex-direction: row;
}

#container3 {
    display: flex;
    flex-direction: row;
}


#dropZone {
    display: flex;
    margin: 2rem auto;
    height: 10vH;
    justify-content: center;
    border: 9px solid #17b5ca;
    font-family: "Calibri";
    font-size: 3rem;
    font-weight: 200;
    border-radius: 25px;
    background: #ffffff;
    padding: 5px;
}

#dropZone2 {
    display: flex;
    margin: 2rem auto;
    height: 10vH;
    justify-content: center;
    border: 10px solid #17cabb;
    font-family: "Calibri";
    font-size: 3rem;
    font-weight: 200;
    border-radius: 25px;
    background: #ffffff;
    padding: 5px;
}

#dropZone3 {
    display: flex;
    margin: 2rem auto;
    height: 10vH;
    justify-content: center;
    border: 10px solid #1729ca;
    font-family: "Calibri";
    font-size: 3rem;
    font-weight: 200;
    border-radius: 25px;
    background: #ffffff;
    padding: 5px;
}

#dropZone>p {
    color: #0b0ec4;
    font-size: 5rem;
    font-family: "Calibri";
    font-weight: 600;
}

.result {
    border: 1px solid rgb(0, 238, 255);
}

.zone {
    border: 1px solid rgb(25, 0, 255);
}

#zone1 {
    color: white;
    width: 75px;
    background-color: #0059ff;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px rgb(25, 189, 211);

}

#zone2 {
    color: white;
    width: 50px;
    background-color: #27d7ee;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px rgb(0, 255, 255);

}

#zone3 {
    color: white;
    width: 75px;
    background-color: #00a2ff;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px rgb(1, 255, 200);
}

#zone4 {
    color: white;
    width: 50px;
    background-color: #3204ff;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px rgb(0, 225, 255);
}

#zone5 {
    color: white;
    width: 75px;
    background-color: #353674;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px rgb(38, 0, 255);
}

.drop-hover {
    background-color: #00d9ff;
}

.ui-draggable-dragging {
    transform: scale(.8)rotate(25deg);
    box-shadow: 2px 5px 12px rgb(0, 204, 255);
}

h2,
span {
    font-size: 3rem;
    font-family: "Calibri";
    font-weight: 600;
    color: #ffffff;
}

h2 {
    color: #000000;
}

#footer {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
}


#btn_reload,
#btn_start,
#btn_main {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    font-family: "Calibri";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    background-color: #000000;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#btn_start {
    background-color: #000000;
}

#btn_reload:hover {
    background-color: #37ffff;
}

#btn_start:hover {
    background-color: #37ffff;
}

#btn_main:hover {
    background-color: #37ffff;
}

.scoremessage {
    display: none;
    width: 850px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Calibri";
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(2, 255, 221);
}

#time-score {
    display: flex;
    justify-content: space-around;
    text-shadow: 2px 2px 5px rgb(0, 225, 255);
}

* {
    margin: 0;
    padding: 0;
}

canvas#canvas {
    display: block;
    background: #000;
}